@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #efefef;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

a.image, img {
  width: 150px;
  height: 150px;
  margin: 0px;
  padding: 0px;
  display: block;
  position: relative;
}

a.image {
  float: left;
}

a.image p {
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 0px;
  padding: 10%;
  z-index: 2;
  background: rgba(0,0,0,0.2);
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

a.image:hover {
  color: #fff;
}

a.image:hover p {
  display: block;
}

#photos {
  margin: 0px auto;
}

#photos .loading {
  width: 50%;
  text-align: center;
  margin: 2em auto;
  font-size: 200%;
  color: #555;
}

#photos .error {
  width: 50%;
  text-align: center;
  margin: 2em auto;
  font-size: 200%;
  color: #75001e;
}

@media only screen and (min-width : 1200px) {
  a.image:nth-of-type(8n+1) {
    clear: both;
  }
  a.image {
    margin-bottom: calc((100% - 150px * 8) / 9);
    margin-left: calc((100% - 150px * 8) / 9);
  }
  body {
    margin-top: calc((100% - 150px * 8) / 9);
  }
}

@media only screen and (max-width : 1200px) {
  a.image:nth-of-type(4n+1) {
    clear: both;
  }
  a.image {
    margin-bottom: calc((100% - 150px * 4) / 5);
    margin-left: calc((100% - 150px * 4) / 5);
  }
  body {
    margin-top: calc((100% - 150px * 4) / 5);
  }
}

@media only screen and (max-width : 600px) {
  a.image:nth-of-type(2n+1) { clear: both; }

  a.image {
    margin-bottom: calc((100% - 150px * 2) / 3);
    margin-left: calc((100% - 150px * 2) / 3);
  }
  body {
    margin-top: calc((100% - 150px * 2) / 3);
  }
}

@media only screen and (max-width : 300px) {
  a.image:nth-of-type(1n+1) { clear: both; }

  a.image {
    margin-bottom: calc((100% - 150px * 1) / 2);
    margin-left: calc((100% - 150px * 1) / 2);
  }
  body {
    margin-top: calc((100% - 150px * 1) / 2);
  }
}
